@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

:root {
  /* Colours */
  --red: #ff6257;
  --white: #ffffff;
  --grey: #949494;
  --blue-700: #36384e;
  --blue-800: #242742;

  /* Gradient */
  --gradient-primary: linear-gradient(to right, #ff6a3a, #ff527b);

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1300: 6.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Roboto, sans-serif;
  overscroll-behavior: none;
}

.text-1 {
  font-family: Roboto-Bold, sans-serif;
  font-size: clamp(2.5rem, 1rem + 3vi, 3.5rem);
  line-height: 1;
  letter-spacing: 0;
  color: var(--blue-800);
}

.text-2-bold {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--blue-800);
}

.text-2 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--blue-800);
}

.text-3 {
  font-family: Roboto-Bold, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--blue-800);
}

/* Layout */
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.card {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 26.875rem;
  min-width: 18.75rem;
  margin: 0 auto;
}

.hero-image {
  display: block;
  width: 100vw;
}

.content {
  padding: 2rem;
}

p {
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
}

ul li {
  padding-left: 2.5rem;
  background-image: url(/assets/images/icon-list.svg);
  background-position: 0 0;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}

.form-group {
  position: relative;
}

.error-message {
  display: none;
  color: var(--red);
  position: absolute;
  top: 0;
  right: 0;
}

input[type="email"] {
  padding: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  margin-top: 0.5rem;
}

input[type="email"].invalid {
  border-color: var(--red);
  color: var(--red);
  background-color: hsl(4, 100%, 95%);
}

input[type="email"].invalid ~ .error-message {
  display: block;
}

.btn {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-dark {
  background-color: var(--blue-800);
  color: var(--white);
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--gradient-primary);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.btn:hover::after {
  opacity: 1;
  color: var(--white);
}

input[type="submit"]:hover {
  background-image: var(--gradient-primary);
}

@media (min-width: 26.875em) {
  main {
    background-color: var(--blue-800);
    align-items: center;
  }

  .card {
    border-radius: 1rem;
    max-width: 37.5rem;
    box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.6);
  }

  .hero-image {
    padding: 2rem;
    width: 100%;
  }

  .card-body {
    padding: 0 2.5rem;
    width: 100%;
  }

  .content {
    padding: 0 0 1rem 0;
  }

  .sign-up-form {
    padding: 0;
  }
}

@media (max-height: 31.25em) and (min-width: 26.875em) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    max-width: 55rem;
    overflow: hidden;
    max-height: 100vh;
    box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.6);
  }

  picture {
    flex: 1;
    flex-shrink: 0;
    align-self: stretch;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 1rem;
    object-fit: cover;
  }

  .card-body {
    flex: 1;
    padding: 1rem;
  }

  .content {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
  }

  p {
    margin: 0.5rem 0;
  }

  ul li {
    margin: 0.5rem;
  }

  input[type="submit"] {
    margin: 1rem 0;
  }
}

@media (min-width: 64em) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 58rem;
    padding: 1.5rem;
    gap: 2rem;
    box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.6);
  }

  picture {
    flex: 1;
    flex-shrink: 0;
  }

  .hero-image {
    width: 100%;
    padding: 0;
    border-radius: 1rem;
  }

  .card-body {
    flex: 1;
    padding: 1rem;
  }
}

/* Success Message */
.success-message {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.success-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
}

.success-icon {
  width: 4rem;
  height: 4rem;
}

.dismiss-btn {
  background-color: var(--blue-800);
  color: var(--white);
  font-family: Roboto-Bold, sans-serif;
  font-size: 1rem;
  padding: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.dismiss-btn:hover {
  background-image: var(--gradient-primary);
}

@media (min-width: 26.875em) {
  .success-message {
    min-height: 100vh;
    background-color: var(--blue-800);
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .success-content {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2.5rem;
    max-width: 28rem;
    margin-top: 0;
    box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.6);
  }

  .dismiss-btn {
    margin-bottom: 0;
  }
}
