@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

:root {
  /* Colours */
  --red: #ff6257;
  --white: #ffffff;
  --grey: #949494;
  --blue-700: #36384e;
  --blue-800: #242742;

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1300: 6.5rem;

  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Roboto, sans-serif;
}

.gradient-4 {
  background-image: linear-gradient(to right, #ff6a3a, #ff527b);
}

.text-1 {
  font-family: Roboto-Bold, sans-serif;
  font-size: clamp(2.5rem, 1rem + 3vi, 3.5rem);
  line-height: 1;
  letter-spacing: 0;
  color: var(--blue-800);
}

.text-2-bold {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--blue-800);
}

.text-2 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--blue-800);
}

.text-3 {
  font-family: Roboto-Bold, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--blue-800);
}

/* Layout */
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 26.875rem;
  min-width: 18.75rem;
  margin: 0 auto;
}

.hero-image {
  display: block;
  width: 100vw;
}

.content {
  padding: 2rem;
}

p {
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
}

ul li {
  padding-left: 2.5rem;
  background-image: url(/assets/images/icon-list.svg);
  background-position: 0 0;
  background-color: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}

.form-group {
  position: relative;
}

.error-message {
  display: none;
  color: var(--red);
  position: absolute;
  top: 0;
  right: 0;
}

input[type="email"] {
  padding: 20px;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  margin-top: 0.5rem;
}

input[type="email"].invalid {
  border-color: var(--red);
  color: var(--red);
  background-color: hsl(4, 100%, 95%);
}

input[type="email"].invalid ~ .error-message {
  display: block;
}

input[type="submit"] {
  background-color: var(--blue-800);
  color: var(--white);
  font-family: Roboto-Bold, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  padding: 20px;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  margin: 1.5rem 0;
}

@media (min-width: 26.875em) {
  main {
    background-color: var(--blue-800);
    align-items: center;
  }

  .card {
    border-radius: 1rem;
    max-width: 37.5rem;
  }

  .hero-image {
    padding: 2rem;
    width: 100%;
  }

  .card-body {
    padding: 0 2.5rem;
    width: 100%;
  }

  .content {
    padding: 0 0 1rem 0;
  }

  .sign-up-form {
    padding: 0;
  }
}

@media (max-height: 31.25em) and (min-width: 26.875em) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    max-width: 55rem;
    overflow: hidden;
    max-height: 100vh;
  }

  picture {
    flex: 1;
    flex-shrink: 0;
    align-self: stretch;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 1rem;
    object-fit: cover;
  }

  .card-body {
    flex: 1;
    padding: 1rem;
  }

  .content {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
  }

  p {
    margin: 0.5rem 0;
  }

  ul li {
    margin: 0.5rem;
  }

  input[type="submit"] {
    margin: 1rem 0;
  }
}

@media (min-width: 64em) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 58rem;
    padding: 1.5rem;
    gap: 2rem;
  }

  picture {
    flex: 1;
    flex-shrink: 0;
  }

  .hero-image {
    width: 100%;
    padding: 0;
    border-radius: 1rem;
  }

  .card-body {
    flex: 1;
    padding: 1rem;
  }
}
