@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

:root {
  /* Colours */
  /* --red: #ff6257; */
  --red: #d93025;
  --white: #ffffff;
  --grey: #949494;
  --blue-800: #242742;

  /* Backgrounds */
  --blue-700: #36384e;

  /* Gradient */
  --gradient-primary: linear-gradient(to right, #ff6a3a, #ff527b);

  /* Shadow */
  --shadow-card: 0px 15px 25px 5px rgba(40, 40, 40, 0.6);

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-800: 4rem;

  /* Sizing */
  --size-icon: 1.5rem;

  /* Border Radius */
  --radius-sm: 0.5rem;
  --radius-md: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Focus styles */
:focus-visible {
  outline: 1px solid var(--blue-700);
}

html {
  font-size: 100%;
  font-family: Roboto, sans-serif;
  overscroll-behavior: none;
}

.text-1 {
  font-family: Roboto-Bold, sans-serif;
  font-size: clamp(2.5rem, 1rem + 3vi, 3.5rem);
  line-height: 1;
  color: var(--blue-800);
}

.text-2-bold {
  font-family: Roboto-Bold, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.text-2 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--blue-800);
}

.text-3 {
  font-family: Roboto-Bold, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--blue-800);
}

/* Layout */
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.card {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 26.875rem;
  margin: 0 auto;
}

.hero-image {
  display: block;
  width: 100vw;
}

.content {
  padding: var(--spacing-400);
}

p {
  margin: var(--spacing-300) 0;
}

ul {
  list-style-type: none;
}

ul li {
  padding-left: var(--spacing-500);
  background-image: url(assets/images/icon-list.svg);
  background-position: 0 0;
  background-size: var(--size-icon) var(--size-icon);
  background-repeat: no-repeat;
  margin: var(--spacing-200) 0;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--spacing-400);
}

.form-group {
  position: relative;
}

.error-message {
  display: none;
  color: var(--red);
  position: absolute;
  top: 0;
  right: 0;
}

input[type="email"] {
  padding: var(--spacing-200);
  width: 100%;
  border-radius: var(--radius-sm);
  border: 1px solid var(--grey);
  margin-top: var(--spacing-100);
}

input[type="email"].invalid {
  border-color: var(--red);
  color: var(--red);
  background-color: hsl(4, 100%, 95%);
}

input[type="email"].invalid ~ .error-message {
  display: block;
}

.btn {
  width: 100%;
  margin: var(--spacing-200) 0;
  padding: var(--spacing-200);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-dark {
  background-color: var(--blue-800);
  color: var(--white);
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--gradient-primary);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.btn:hover::after {
  opacity: 1;
}

/* Tablet */
@media (min-width: 26.875em) {
  main {
    background-color: var(--blue-700);
    align-items: center;
  }

  .card {
    border-radius: var(--radius-md);
    max-width: 37.5rem;
    box-shadow: var(--shadow-card);
  }

  .hero-image {
    padding: var(--spacing-400);
    width: 100%;
  }

  .card-body {
    padding: 0 var(--spacing-500);
    width: 100%;
  }

  .content {
    padding: 0 0 var(--spacing-200) 0;
  }

  .sign-up-form {
    padding: 0;
  }

  .btn {
    margin: var(--spacing-300) 0;
  }
}

/* Landscape */
@media (max-height: 31.25em) and (min-width: 26.875em) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    padding: var(--spacing-200);
    gap: var(--spacing-300);
    max-width: 55rem;
    overflow: hidden;
    max-height: 100vh;
    box-shadow: var(--shadow-card);
  }

  picture {
    flex: 1;
    flex-shrink: 0;
    align-self: stretch;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: var(--radius-md);
    object-fit: cover;
  }

  .card-body {
    flex: 1;
    padding: var(--spacing-200);
  }

  .content {
    margin: 0;
    padding: 0;
    padding-top: var(--spacing-200);
  }

  p {
    margin: var(--spacing-100) 0;
  }

  ul li {
    margin: var(--spacing-100);
  }

  .btn {
    margin: var(--spacing-200) 0;
  }
}

/* Desktop */
@media (min-width: 64em) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 58rem;
    padding: var(--spacing-300);
    gap: var(--spacing-400);
    box-shadow: var(--shadow-card);
  }

  picture {
    flex: 1;
    flex-shrink: 0;
  }

  .hero-image {
    width: 100%;
    padding: 0;
    border-radius: var(--radius-md);
  }

  .card-body {
    flex: 1;
    padding: var(--spacing-200);
  }
}

/* Success Message */

.success-message {
  display: none;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-400);
}

.success-message.is-visible {
  display: flex;
}

.success-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin-top: var(--spacing-800);
}

.success-icon {
  width: var(--spacing-800);
  height: var(--spacing-800);
}

.dismiss-btn {
  margin-top: var(--spacing-200);
}

@media (min-width: 26.875em) {
  .success-message {
    min-height: 100vh;
    background-color: var(--blue-700);
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .success-content {
    background-color: var(--white);
    border-radius: var(--radius-md);
    padding: var(--spacing-300);
    max-width: 28rem;
    margin-top: 0;
    box-shadow: var(--shadow-card);
  }
}
